
@{
    ViewBag.Title = "Show";
}

<h1>Afisare curs</h1>
<h2>@ViewBag.Course.Title</h2>
<p>@ViewBag.Course.Content</p>
<p>@ViewBag.Course.Date</p>

<p>Disciplina: @ViewBag.Subject.SubjectName</p>


<a href="/Courses/Edit/@ViewBag.Course.Id">Modifica curs</a>

<form method="post" action="/Courses/Delete/@ViewBag.Course.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge curs</button>
</form>

<hr />
<a href="/Courses/Index">Inapoi la cursuri</a>
<br />
<a href="/Courses/New">Adauga curs</a>
<br />




